body,
html {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

.bg{
    background-image: url("/img/lpbg.svg");
}

.logo-title {
    width: 60%;
    height: 60%;
}

.signup {
    width: 30%;
    height: 78%;
    left: 60%;
    top: -25px;
    /* Hide top radius and shadow */
    background-color: #E2E2E2;
    position: fixed;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 2px;
}

.login:hover {
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2);
}

input {
    border: none;
    width: 90%;
    height: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}

input:focus {
    outline: none;
}

.textbox {
    position: relative;
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    height: 3em;
    margin: 0.5em 0;
}

.full-width {
    width: 85%;
    left: 8%;
}

.half-width {
    width: 38%;
    height: 3em;
}

.left {
    left: 8%;
}

.right {
    left: 16%;
}

.button {
    border: none;
    background-color: #8A8A8A;
    color: #FEFEFE;
    font-size: 0.9em;
    transition: 0.4s;
}

.button:hover {
    background-color: rgba(138, 138, 138, 0.6);
}

.logo-login {
    position: relative;
    top: 5%;
    height: 30%;
    margin: 0 auto;
    padding: 0 0 10% 0;
}

.center-bottom {
    position: relative;
    top: 75%;
    left: 20%;
    margin-left: 1.6em;
}

.big-button {
    width: 5em;
    height: 1.5em;
    font-size: 1.5em;
}

#signin {
    width: 90%;
    text-align: center;
    padding-top: 0.8em;
}

#signin:hover {
    color: #FEFEFE;
}

#signinBackground {
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #000000;
    opacity: 0.4;
}

.signinBox {
    position: fixed;
    visibility: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1.0;
    padding: 1.5em 1em;
    background-color: #E2E2E2;
    border-radius: 2px;
}

.signinBox .button {
    transition: none;
}

.popup {
    position: fixed;
    display: inline-block;
    visibility: hidden;
}

.signinBox.show {
    visibility: visible;
    animation: fadeIn 0.5s;
}

.popup.show {
    visibility: visible;
    animation: fadeInHalf 0.5s;
}

#signin {
    color: #8A8A8A;
}

@keyframes fadeInHalf {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.4;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;
    }
}