html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;  //used to hide the scrollbars
}

.main {
  font-family: 'Open Sans', sans-serif;
  color: #385F71;
  width: auto;
  transition:margin-left .4s
}

.closeButton{
  padding: 1em 0.4em 1em 0.4em !important;
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 10em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -10em;
  background-color: #385F71;
  overflow-x: hidden;
  padding-top: 1em;
  display: block;
  box-shadow:0 2px 5px 0;
  transition: 0.4s;
}

/* The navigation menu links */
.sidenav a {
  padding: 0.4em 0.4em 0.4em 0.4em;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 1.2em;
  color: #F5F0F6;
  display: block;
  text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #5588a0;
}

.bgColour{
  background-color: #f5f0f6 !important;
}

button{
  color: #385F71;
  background-color: inherit;
  border: none;
  padding: 0.3em 0.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  position: relative;
}

h1 {
  position: relative;
  padding: 0.3em 0.3em;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  color: #385F71;
  display: inline-block;
}

body {
  margin: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.logo{
  padding-bottom: 1.5em;
  width: 80%;
}
